html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: monospace;
}

yl-terminal {
  scrollbar-color: white black;
}

input[type='text'], button {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  border: none;
}