@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root {
  --light: #ffffff;
  --primary: #f0e9e2;
  --dark: #504f57;

  --bg-light: #2b2a30;
  --bg-primary: #19181d;
  --bg-dark: #17161b;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--bg-primary);
  color: var(--primary);
  scrollbar-color: var(--primary) var(--bg-primary);
  font-family: "Inconsolata", mono;
}

body {
  display: flex;
  flex-direction: column;
}

h3 {
  color: var(--light);
  font-weight: 500;
}

yl-navbar {
  background-color: var(--bg-dark);
  border-bottom: 1px solid var(--bg-light);
  box-shadow: 0px 0px 25px 10px var(--bg-primary);
  animation: fade 0.5s ease-in;
}

yl-navbar::part(logo) {
  margin: 8px 16px;
  height: 48px;
}

yl-navbar::part(links) {
  margin: 8px 16px;
}

yl-navbar yl-icon {
  height: 32px;
}

yl-list {
  flex: 1 1 auto;
  overflow-y: auto;
}

yl-list[grid] yl-icon {
  width: 160px;
}

yl-icon {
  height: 64px;
  padding: 16px;
  animation: fade 0.5s ease-in both;
  opacity: 0;
}

yl-icon::part(title) {
  padding: 8px;
}

yl-icon:nth-child(1) { animation-delay: 0.0s; }
yl-icon:nth-child(2) { animation-delay: 0.1s; }
yl-icon:nth-child(3) { animation-delay: 0.2s; }
yl-icon:nth-child(4) { animation-delay: 0.3s; }
yl-icon:nth-child(5) { animation-delay: 0.4s; }

yl-footer {
  border-top: 1px solid var(--bg-light);
  background-color: var(--bg-dark);
  box-shadow: 0px 0px 25px 10px var(--bg-primary);
}

yl-footer::part(hr) {
  background-color: var(--dark);
}

yl-footer yl-icon {
  height: 16px;
  margin: 16px 32px;
}

yl-window {
  border: 1px solid var(--dark);
  background-color: var(--bg-light);
  transform: scale(1, 0);
  transition-property: transform, visibility, width, height, top, left;
  transition-duration: 0.25s;
}

yl-window[opened] {
  transform: scale(1, 1);
}

yl-window::part(titlebar) {
  font-size: 24px;
  padding: 4px;
  border-bottom: 1px solid var(--dark);
}

yl-window::part(resize) {
  font-size: 32px;
  padding: 8px;
}

yl-window::part(content) {
  background-color: var(--bg-dark);
}

yl-window yl-list::part(wrapper) {
  width: 100%;
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}