body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black;
  color: white;
}

yl-navbar {
  background-color: black;
  box-shadow: 0px 0px 50px 55px #000000 ;
}

yl-navbar::part(icon) {
  margin: 16px;
}

yl-navbar::part(links) {
  margin: 16px 32px;
}

yl-navbar a {
  margin: 8px;
  color: white;   
  text-decoration: none;
}

yl-footer yl-icon {
  height: 32px;
  margin: 16px 32px;
}

yl-footer::part(hr) {
  width: 400px;
  background: #000000;
  background: linear-gradient(90deg, black 0%, white 25%, white 75%, black 100%);
}