extends contact

block contact-content
    div(class='container p-0 fadein')
        section(class='p-3 p-lg-5 d-flex align-items-center')
            div(class='mb-5 w-100')

                h1(class='mb-0') Daniel Yost
                
                div(class='mb-5') Poughkeepsie, NY · 
                    a(href="mailto:danyost23@gmail.com") danyost23@gmail.com
                
                p(class='lead mb-5') I'm a self-motivated maker, designer, and programmer who specializes in building secure, high-performance libraries and applications that work across multiple platforms. In my spare time, I run YostLabs to share my creations with the world.

                div(class='icons')
                    a(href='https://www.linkedin.com/in/danyost23')
                        i(class='fab fa-linkedin-in')
                    a(href='https://github.com/danstuff')
                        i(class='fab fa-github')
                    a(href='https://www.instagram.com/yostlabs')
                        i(class='fab fa-instagram')

    script(src='javascripts/index.js')
