extends layout

block layout-content
    div(class='container p-0')
        section(class='text-center')

            // process list of items
            each item in items
                div(class='item-display thumbnail' id=item.id)
                    i(class='fas fa-question')
                    img(src='images/' + item.folder + '/thumb.jpg' alt=' ')
                    p #{item.name}

    script(src='javascripts/index.js')
