.btn-custom {
    --bs-btn-bg: #4c00ff !important;
    --bs-btn-border-color: #4c00ff !important;
    --bs-btn-hover-bg: #5e1cfa !important;
    --bs-btn-hover-border-color: #5e1cfa !important;
    --bs-btn-active-bg: #3800bb !important;
    --bs-btn-active-border-color: #3800bb !important;
}