extends slides 

block navitems
  li.nav-item
    a.nav-link.active(href='#', aria-current='page', aria-label='Live Demos') Live Demos
  li.nav-item
    a.nav-link(href='https://yostlabs.net/crafts', aria-label='Crafts') Crafts
  li.nav-item
    a.nav-link(href='https://yostlabs.net/about', aria-label='About') About

block slidewrapper 
  - var items = [
  -   ['./assets/img/live_demos/pg.jpg', 'PromptGarden', 'UI demo for a new kind of AI chat interface centered around content iteration.', 'https://yostlabs.net/play/pg'],
  -   ['./assets/img/live_demos/yostos.jpg', 'YostOS', 'A virtual OS that runs entirely in the browser.', 'https://yostlabs.net/play/yostos'],
  -   ['./assets/img/live_demos/enso.jpg', 'Enso', 'A serene zen garden game that changes with the seasons.', 'https://yostlabs.net/play/enso'],
  -   ['./assets/img/live_demos/momul.jpg', 'Momul', 'A chess-like abstract strategy game', 'https://yostlabs.net/play/momul'],
  - ];
  +slides(items)
  