extends layout 

block navitems
  li.nav-item
    a.nav-link(href='https://yostlabs.net/') Live Demos
  li.nav-item
    a.nav-link(href='https://yostlabs.net/crafts') Crafts
  li.nav-item
    a.nav-link(href='https://yostlabs.net/about') About

block main 
  .container
    h1.mb-0.mt-4 404 - Not Found
    p The page or file you requested could not be found on yostlabs.net.